{% extends 'base.html' %}
{% block content %}


<div class="row"><h1>Introducing the Clow Collector</h1>
    <hr /> </br></div>
</div>


<div class="row center-align">
    <div class="col s8 m6">
        <div class="card">
            <div class="card-panel hoverable blue accent-2">
                <div class="card-image">
                <img src="https://i.imgur.com/M37thzh.jpg">
                </div>
                 <div class="card-content">
                 <p>The Cards were created by the half-English, 
                     half-Chinese sorcerer named Clow Reed. 
                     They are the result of the combination of 
                     Eastern and Western magics and formed the 
                     basis for a new kind of magic unlike any 
                     other seen so far. To contain the incredible 
                     power of the cards, after his death Clow 
                     had the cards sealed in the Clow Book, 
                     only to be released when the "chosen one" appears.</p>
                </div>
            </div>
        </div>
    </div>
</div>


  
 
{% endblock %}