* {
    font-family: 'Oswald', Tahoma, sans-serif;
}

h1 {
    color: gold;
}

form {
    background: purple;
    border-radius: 8px;
}

div.form {
    background: rgb(50, 75, 115);
}

input.btn {
    background-color: crimson
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('https://i.imgur.com/rWb9vUB.jpg') center;
}
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}